/* 整体页面最大宽度 */
:root {
  --vp-layout-max-width: 1600px;
}

/* 文章区域容器 */
.VPDoc .container {
  max-width: 1600px !important;
}

/* 文章正文内容区域 */
.VPDoc .content-container {
  max-width: 1000px !important;
}

/* 正文内部区域 */
.vp-doc {
  max-width: 1000px !important;
}

